/* =============
    Typography
============= */
body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Abril Fatface', cursive;  
}

h1,h2,h3,h4{
    margin: 0;
    padding: 10px;
}

p{
    margin: 0;
    padding: 0px;
    line-height: rem-calc(30);
    font-size: rem-calc(18);
}

.section-title{
    font-weight: 300;
}