/* =============
    Section 3
============= */
#section-3{
    #section-3-gallery{

        .container{
            display: grid;
            height: 100%;
            grid-gap: 20px;
            grid-template-columns: repeat(2, 500px);
            grid-template-rows: repeat(2, 500px);
            grid-template-areas:
                "gallery-1"
                "gallery-2"
                "gallery-3"
        }


        @include md {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "gallery-1 gallery-1"
                "gallery-2 gallery-3";       
        }

        @include lg {
            grid-template-columns: repeat(2, 1fr);

            grid-template-areas:
                "gallery-1 gallery-2"
                "gallery-1 gallery-3";
        }

        @include xl {
            grid-template-columns: auto 1200px auto;
        }

    }
        li {
        background-size: cover;
        width: 320px;
        }
        #gallery-1{
            // background-image: url('../images/coffee-maker.jpg');
            @include md {
                grid-area: gallery-1;
            }
        }

        #gallery-2{
            background-repeat: no-repeat;
            // background-image: url('../images/shovel.jpg');
            @include md {
                grid-area: gallery-2;
            }
        }
        #gallery-3{
            background-repeat: no-repeat;
            // background-image: url('../images/coffee-beans.jpg');
            @include md {
                grid-area: gallery-3;
            }
         }   
}