/* =============
    Section 2
============= */
#section-2{
    aside{
        background-image: url('../images/plant-coffee.jpg');
        background-size: cover;
        background-position: center;
        height: 320px;
        
        @include md {
            height: 575px;
        }

        @include lg {
            height: 625px;
        }

        @include xl {
            height: 700px;
        }
    }
    #section-2-center{
        padding: 20px;
        display: grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas: ". section-2-center .";
        color: $matcha;

            #section-2-content{
                grid-area: section-2-center;
                text-align: center;
            }

    }

}