/* =============
    Section 4
============= */
#section-4{
    img {
        width: 20%;
    }
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-4 .";

    >div{
        grid-area: section-4;
        padding: 50px 0;
        text-align: center;
    }
}