/* =============
    Section 1
============= */
#section-1{
    @include xl {
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-3 .";
    }
    >div {
        @include lg {
            display: grid;
            grid-template-columns: 40% auto;
        }
        @include xl {
            grid-area: section-3;
            padding: 50px 0;
            text-align: center;
        } 
        aside {
            img{
                widows: 100%;
            }
        }
        section {
            display: grid;
            grid-template-columns: 10px auto 10px;
            grid-template-areas: ". section-1-inside .";

            @include md {
                grid-template-columns: 10% auto 10%;
            }

            >div {
                grid-area: section-1-inside;
            }

        }

    }
    
}