/* =============
    Section 3
============= */
#section-3{
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". section-3 .";

    >ul{
        grid-area: section-3;
        display: grid;
        grid-gap: 50px;
    }
}