/* =============
    Section-1
============= */
#section-1{
    @include xl {
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-1 .";
    }

    >div {
        @include lg {
            display: grid;
            grid-template-columns: 50% auto;
            height: 700px;
        }
        @include xl {
            grid-area: section-1;
        } 
    }
    padding: 20px;
    aside {
        background-image: url('../images/stairs.jpg');
        background-size: cover;
        background-position: center;
        height: 600px;

            @include md {
                grid-template-columns: 10% auto 10%;
                height: 700px;
            }

        }

    section {
        display: grid;
        padding-top: 20px;
        grid-template-columns: 10px auto 10px;
        grid-template-areas: ". section-1 .";

        @include md {
            grid-template-columns: 10% auto 10%;
            }

            >div {
                grid-area: section-1;
                text-align: center;
            }

    }

}