/* =============
    Navigation
============= */
#navigation {
    background-color: $white;
    opacity: 70%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    >div {
        display: grid;
        grid-template-areas: "logo burger"
                             "nav nav";
        grid-template-columns: 80% auto;

        @include lg {
            grid-template-areas: "logo nav"
        }

        #logo-container {
            grid-area: logo;
            color: $matcha;
            
        }

        #burger-container {
            align-items: center;
            grid-area: burger;
            justify-content: flex-end;
            padding-right: 10px;
            display: flex;

            @include lg {
                display: none;
            }

            i{
                cursor: pointer;
                font-size: rem-calc(30);
            }
        }

        #nav-container {
            grid-area: nav;
            display: show;
            background-color: $matcha;
            padding: 10px;

            @include lg {
                background-color: $white;
                padding: 10px;
                display: block !important;
            }
        }
        section {
            i {
                color: $matcha;
            }
        }
    }
}