/* =============
    Header
============= */
header {
   section{
       background-image: url('../images/hero.jpg');
       background-size:cover;
       background-position: center;
       height: 360px;

       @include md {
           height: 670px;
       }

        padding: 50px 0;
        text-align: center;
        color: $white;
    }   
} 