/* =============
    Header
============= */
header {
    background-image: url('../images/hero.jpg');
       background-size:cover;
       background-position: center;
       background-repeat:no-repeat;
       height: 400px;

       @include md {
        height: 600px
    }

   section{
        padding: 160px 0;
        text-align: center;
        color: $white;

        @include md {
            padding: 240px;
        }   
    } 
}